
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.background{

    background-image: url("../img/Banner.jpg");
    height: 180px;
    z-index: 0;

}
.title{
    background-color: #236292;
    height: 93px;
    padding: 22px 24px 4px 24px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 0;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

h6{
    color:gray;
}

/* p Button */
.b1{
    position: sticky;
    margin-top: 150px;
}
/* button */

.buttonC {
    background-color: #236292;
    border: none;
    color: white;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}
/* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 35px 35px;
}

/* Remove extra left and right margins, due to padding */
.row {        margin: -90px 10%}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */
.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    padding: 0;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    height: 345px;
}


/* Responsive columns */
@media screen and (max-width: 1200px) {
    .column {
        width: 80%;
        display: block;
        margin-bottom: -4px;
        margin-left:10%;
    }

    .card {
        height: 218px;
    }

    .b1{
        margin-top:45px;
    }


}

@media screen and (max-width: 740px) {

    .column{
        width:96%;
        margin-left:2%;
    }

}


@media screen and (max-width: 414px) {

    .column{
        width:96%;
        margin-left:2%;
    }

}
@media screen and (max-width: 375px) {

    .title{
        font-size: 22px;
    }

    .column {
        width: 100%;
        margin-left: 0%;
    }

    .buttonC{
        padding: 10px 24px;
    }


}


@media screen and (max-width: 356px) {

    .title{
        height: 84px;
        padding: 26px 24px 4px 24px;
        font-size: 18px;
    }

}


