.background{
    background-image:url("../img/Banner.jpg");
    height: 115px;
    z-index: 0;

}

h1{
    float:left;
    color:white;
    margin-left:43px;
    font-size:46px;
}


.form {
    width: 320px;
    padding: 30px;
    background: #FFFFFF;
    margin: 6% auto 30px;
}

.form h2 {
    background: #000000;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    margin: -30px -30px 30px -30px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #a74544;
    background-color: #f2dede;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    margin-top: -10px;

}

.new {
    text-align: center;
    margin-top: 30px;
}

.new h6, .new a {
    display: inline;
    color: #fab731;
    font-size: 11px;
}

.form input[type="text"],
.form input[type="password"] {
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form input[type="submit"] {
    background-color: #fab731;
    border: none;
    color: white ;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top:23px;
    cursor: pointer;
    border-radius:25px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f7f7f7 inset;
}



@media screen and (max-width: 414px) {

    .form {
        width: 74%;
    }
}



@media screen and (max-width: 470px){

    h1{
        font-size:38px;
        margin-top:36px;
    }
}



@media screen and (max-width: 350px){

    h1{
        font-size:38px;
        margin-top:36px;
        margin-left: 15px;
    }

}